
<!--Следующим шагом является добавление формы в шаблон HTML, чтобы ее можно было
визуализировать на веб-странице. Поля, определенные в классе LoginForm, знают,
как визуализировать себя как HTML, поэтому эта задача довольно проста. -->
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
<!--action формы используется для того, чтобы сообщить веб-браузеру URL-адрес,
 который должен использоваться при отправке информации, введенной
 пользователем в форму. Если для действия задана пустая строка, форма
 передается URL-адресу, находящемуся в данный момент в адресной строке,
 то есть URL-адресу, который визуализирует форму на странице.
 Атрибут method указывает метод HTTP-запроса-->
    <form action="" method="post">
        <!--Аргумент шаблона form.hidden_tag()создает скрытое поле, содержащее
        токен, используемый для защиты формы от атак CSRF. Все, что вам
        нужно сделать, чтобы форма была защищена, — это включить это скрытое
        поле и определить переменную SECRET_KEY в конфигурации Flask-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}